@inherits LayoutComponentBase

<div class="container">
    <div class="row col-12">
        <div class="col-4">
            boş
        </div>
        <div class="col-4">
            @Body
        </div>
        <div class="col-4">
            boş
        </div>
    </div>

</div>